.head{
         background-image: url(assets/Hero-bg.png);  
         height:700px;
         width: 100%;
}
.boy{
         display: flex;
         justify-content: center;
         align-items: center;
         padding-top: 30px;
}
.inthe{
         font-size: 48px;
         max-width: 998px;
         height: 140px;
         margin: 0 auto;
         text-align: center;
         padding: 20px;
}
.lorem{
         font-size: 16px;
         color: rgb(13,19,33);
         text-align: center;
         max-width: 860px;
         height: 55px;
         padding: 10px;
         margin: 0 auto;
}
.custom-button{
           color: white;
           background-color: black;
           width: 208px;
           height: 66px;
           margin: 0 auto;
           border-radius:5%;
           display: flex;
           flex-direction: row;
           justify-content: center;
           align-items: center;
           padding: 21px 24px 21px 24px;
}
.web{
                    width: 500px;
                    height: 10000px;
                    border: 2px solid red;
}
.pad{
                    width: 80%;
                    height: 1300px;
                    padding: 80px 97px 80px 97px;
                    align-items: center;
                    margin: 0 auto;
                    display: flex;
                    flex-direction: column;
                    background-color:rgba(13,19,33,0.02) ;
                    margin-top: 50px;
                    border-radius: 1%;
}
.why{
                    margin: 0 auto;
                    font-size: 32px;
                    text-align: center;
                    padding: 30px;
}
.icode{
                    width: 80%;
                    height: 350px;
                    display: flex;
                    flex-direction: row;
                    background: linear-gradient(to right,white,rgba(13,19,33,0.02));
}
.iwill{
                    width: 70%;
                    padding-left: 50px;
                    height: 300px;
}
.first-code{
                    height: 300px;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    padding: 30px;

}
.iwilldo{
                    margin-top: 40px;
                    margin-bottom: 70px;
                    font-size: 24px;
}
.learn{
                    margin-top: 70px;
                    border: 1px solid rgb(13, 19, 33);
}
.nd{
                    margin-top: 50px;
                    width: 80%;
                    height: 350px;
                    display: flex;
                    flex-direction: row;
                    background: linear-gradient(to right, rgba(13,19,33,0.02), white);
                    margin-top: 50px;
                    margin-bottom: 50px;
}
.nd-code{
                    padding: 30px;
                    width: 40%;
}
.my{
                    font-size: 32px;
                    margin: 0 auto;
                    text-align: center;
                    padding: 30px;
                    margin-top: 50px;
}
.you-tube{
                    width: 80%;
                    align-items: center;
                    margin: 0 auto;
                    display: flex;
                    flex-direction: column;
                    border: 1px solid rgba(13, 19, 33, 0.2);
                    border-radius: 1%;
                    width: 80%;
}
.you{
                    height: 700px;
                    width: 80%;
                    align-items: center;
                    align-items: center;
                    margin: 0 auto;
                    display: flex;
                    flex-direction: column;
                    padding: 20px;
                    border: 1px solid rgba(13, 19, 33, 0.2);
                    border-radius: 1%;
                    margin-bottom: 100px;
}
